/* sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.page-header{
  /*padding-bottom: 10px;*/
  margin-top: -20px;

}
.list-group-item > p{
  font-size: 14px;
}
.list-group-item > strong[class=list-group-item-heading]{
  font-size: 16px;
}
.list-group-item > div[class=list-group-item-heading]{
  font-size: 16px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
