{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <div class="container-fluid">
    	<div class="row-fluid">
    		<div class="span12 lead">
    			<p>
    				<em>Essai</em> is a English essay scoring web application. Features are:
    			</p>
    			<ul>
    				<li>
    					A holistic score from 1 to 6 (greater means better)
    				</li>
    				<li>
    					Spell checking and grammar checking
    				</li>
    				<li>
    					Coherence feedback
    				</li>
    			</ul>
    			<p>
    				If you use this web application, please do <strong>NOT</strong> submit any confidential documents, although we don't save your documents.
    			</p>
    		</div>
    	</div>
    </div>
</div>
{% endblock %}
